@font-face {
    font-family: "Core" ;
    src: url(fonts/Fragmentcore.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow:hidden;
    padding:0px;
}

.card{
    background-color:rgba(255,255,255, 0.02);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    cursor:pointer;
    height:260px;
    width:300px;
}

#cards{
    padding-top: 40px;
    display:flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width:calc(100% - 20px);
}

.card h3{
    text-align: center;
    display: inline-block;
    width:80%;
    font-family: Core;
    background-color:rgba(0,0,0,0.85);
    margin: 200px 0 0 10px;
    color:white;
}

.card h4{
    text-align: center;
    display: inline-block;
    width:80%;
    font-family: Core;
    background-color:rgba(0,0,0,0.85);
    color:white;
    margin: 0 0 0 35px;
}

.card-bg1{
    background-image: url(img/cartographer.png);
}

.card-bg2{
    background-image: url(img/cartographer.png);
}

.card-bg3{
    background-image: url(img/cartographer.png);
}

.card-bg4{
    background-image: url(img/cartographer.png);
}

.outros{
    background-image: url(img/cartographer.png);
    border: white 1px dashed;
    border-radius: 10px;
    justify-content: center;
    margin:20px 80px 30px 80px;
}

.outros h1{
    color:white;
    font-family: Core;
    margin:0 0 0 12px;
}

.outros h2{
    color:white;
    font-family: Montserrat;
    margin:0 0 7px 12px;
    font-size: 15px;
    font-weight: 300;
}

@media only screen and (max-width : 640px) {
    #cards{
        padding-top: 40px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        max-width: 916px;
        width:calc(100% - 20px);
    }
}

@media only screen and (min-width : 620px) {
    #cards{
        padding: 40px 30px 0px 30px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        max-width: 916px;
        width:calc(100% - 20px);
    }
}

@media only screen and (min-width: 935px){

    #cards{
        padding-top: 40px;
        display:flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        max-width: 2560px;
        width:calc(100% - 20px);
    }

}

body{
    overflow-y: scroll;
}