/* -----------------------------------------------*/
/*                     Fontes                     */
/* -----------------------------------------------*/

@font-face {
    font-family: "Romono" ;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow:scroll;
    padding:0px;
    min-height: 700px;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);   
}

.grid{
    display:grid;
    gap: var(--gap, 3rem);
}

.container{
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.primary-navigation a:visited{
    font:black;
}

.primary-navigation a:hover{
    color:red;
    transition: 0.5 s;
}

body{
    background-image: url(img/cartographer.png);
    min-height: 1200px;
}

.Conteudo{
    color:antiquewhite;
    font-family: Montserrat;

    padding-top: 100px;

    background-attachment:fixed;
}

.Conteudo .Topo{
    padding-bottom: 200px;
}

.Conteudo .Baixo{
    margin-bottom: 10px;
}

.Conteudo h1{
    font-size: 30px;
}

.Topo h1{
    margin-left: 20px;
    margin-right:450px;
}

.Baixo h1{
    float:right;
    margin-right: 200px;
    margin-left: 550px;
}

.Topo h2{
    margin-left: 30px;
    margin-right: 400px;
}

.Baixo h2{
    font-size: 20px;
    float:right;
    margin-right: 200px;
    margin-left: 550px;
    margin-bottom: 40px;
}

.img-baixo{
    position:absolute;
    float:left;
    margin: 0 0 0 135px;
}

.Topo button{
    margin: 20px 0 0 60px;
    border-radius: 3px;

    font-family: Montserrat;
    font-size:20px;

    background-color: #555555;
    transition-duration: 0.4s;
    border: 2px solid white;
    color:white;
}

.Topo button:hover{
    background-color: white;
    color:black;
}

.img-topo{
    position: relative;
    float: right;
    margin: -200px 0 0 0;
}

hr{
    width:100%;
    margin:10px 0 0 10px;
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,white,white 6px,transparent 6px,transparent 12px);
}


@media only screen and (max-width:740px){
    body{
        min-height: 1300px;
    }
    .img-topo{
        width:auto;
        position:static;
        margin: -500px 0 0 20px;
    }
    .Topo h1{
        float:right;
        margin:0 50px 10px 50px;
    }

    .Topo h2{
        float: right;
        margin:0 400px 0 50px;
    }

    hr{
        margin:-50px 0 0 0;
    }
}

@media only screen and (max-width:832px){
    
    .img-topo{
        margin-top: -325px;
        margin-left: 300px;
        width:70%;
        max-width:100%;
        height:auto;
    }

    .img-baixo{
        position:static;
        margin-top: -400px;
        margin-left:60px;
    }

    body{
        min-height:fit-content;
    }

    .Baixo h1{
        float:right;
        margin:0 20px 10px 400px;
    }

    .Baixo h2{
        float:right;
        margin:0 70px 150px 400px;
    }
}

@media only screen and (max-width:650px){
   .img-topo{
    width:70%;
    margin-top: -450px;
   }
}
