/* -----------------------------------------------*/
/*                     Fontes                     */
/* -----------------------------------------------*/

@font-face {
    font-family: "Romono" ;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow:scroll;
    padding:0px;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);   
}

.grid{
    display:grid;
    gap: var(--gap, 3rem);
}

.container{
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.primary-navigation a:visited{
    font:black;
}

.primary-navigation a:hover{
    color:red;
    transition: 0.5 s;
}

body{
    background-image: url(img/cartographer.png);
}

.Conteudo{
    color:antiquewhite;
    font-family: Montserrat;

    padding-top: 100px;
    padding-bottom: 200px;

    background-image: url(img/cartographer.png);
    background-attachment:fixed;
}

.Conteudo h1{
    font-size: 30px;
    margin-left: 20px;
}

.Conteudo h2{
    margin-left: 30px;
}

.Conteudo button{
    margin: 20px 0 0 60px;
    border-radius: 3px;

    font-family: Montserrat;
    font-size:20px;

    background-color: #555555;
    transition-duration: 0.4s;
    border: 2px solid white;
    color:white;
}

.Conteudo button:hover{
    background-color: white;
    color:black;
}

.Conteudo img{
    float: right;
    margin: -200px 0 0 0;
}
