/* -----------------------------------------------*/
/*                     Fontes                     */
/* -----------------------------------------------*/

@font-face {
    font-family: "Romono" ;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Edu" ;
    src: url(fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}

:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow:scroll;
    padding:0px;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);   
}

.grid{
    display:grid;
    gap: var(--gap, 3rem);
}

.container{
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.primary-navigation a:visited{
    font:black;
}

.primary-navigation a:hover{
    color:red;
    transition: 0.3 s;
}

.Conteudo{
    color:antiquewhite;
    font-family: Edu;

    padding-top: 100px;
    padding-bottom: 200px;

    background-image: url(img/lake.png);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Conteudo h1{
    font-size: 30px;
    margin-left: 20px;
}