
:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow-x:hidden;
    padding:0px;
}

.Grafico{   
    display: none;
    border: white 1px dashed;
    border-radius: 10px;
    background-image: url(img/cartographer.png);
    margin: 0 20px 0 20px;
}

.Grafico.Activated h2{
    padding-left: 750px;
    padding-right: 10px;
    color: antiquewhite;
}

.Grafico.Activated{
    display: block; 
}

.Grafico img{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
}

hr{
    margin-top: 10px;
}