@font-face {
    font-family: "Romono" ;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color:var(--bg-color);
    height:100vh;
    margin:0px;
    overflow-x:hidden;
    padding:0px;
}

.Grafico{   
    display: none;
    border: white 1px dashed;
    border-radius: 10px;
    background-image: url(img/cartographer.png);
    margin: 0 20px 0 20px;
}

.Grafico.Activated{
    display: block;
    margin-bottom: 30px;
}

.Grafico.Activated h2{
    font-size: 25px;
    font-family: Romono;
    float: right;
    color: antiquewhite;
}

#titulo{
    font-size: 20px;
    margin-left: 500px;
    margin-top: -400px;
    margin-right: 20px;
    text-align: right;
    float: right;
    color: antiquewhite;
    font-family: Quadranta;
}

#info1{
    line-height: 25px;
    width: auto;
    margin-top: -320px;
    padding-right: 30px;
    text-align: right;
    margin-left: 600px;
    margin-bottom: 10px;
}

#info2{
    width: auto;
    margin-top: -280px;
    padding-right: 30px;
    text-align: right;
    margin-left: 520px;
}

#justif{
    float: right;
    margin-top: -200px;
    margin-left: 600px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.Grafico.Activated{
    display: block; 
}

.Grafico img{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    background-color: whitesmoke;
}

hr{
    margin-top: 10px;
}

@media only screen and (max-width:800px) { 
    .Grafico{
        height:750px;
    }
    .Grafico h1, .Grafico h2{
        margin-top: 400px;
    } 
    #titulo{
        margin-left: 20px;
    }
    #info1{
        margin-top: -400px;
        margin-left: 200px;
        padding-top: 10px;
    }
    #info2{
        margin-top: -400px;
        margin-right: 0px;
        margin-left: 100px;
    }
    #justif{
        margin-top: -380px;
        margin-left: 20px;
    }
}

@media only screen and (max-width:575px) {
    .Grafico img{
        width: 90%;
    }
}