
/* -----------------------------------------------*/
/*                     Fontes                     */
/* -----------------------------------------------*/
@font-face {
    font-family: "Romono" ;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Edu" ;
    src: url(fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Quadranta";
    src: url(fonts/Quadranta-Regular.otf);
}
/* ----------------------------------------------*/
/*               Classes de Utilidade            */
/* ----------------------------------------------*/

:root{
    --clr-dark: 217 49% 8%;
    --clr-light: 207 26% 75%;
    --clr-azulclaro: 195 43% 79%;
    --clr-azulescuro: 209 55% 24%;
}

/* ---------------------------------------------- */
/*                     Reset                      */
/* ---------------------------------------------- */

*,*::before,*::after{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,picture,figure,p{
    margin:0;
}

html:focus-within {
    scroll-behavior: smooth;
}
  
body{
    line-height: 1.5; /* Default: 1.4 */
    min-height: 100vh;
}

/* Formatacao facilitada para imagens */
img,picture{
    max-width: 100%;
    display: block;
}

/* se houver alguma mudanca no texto, estes elementos automaticamente se ajustam */
button,input,textarea,select{
    font:inherit;
}

/* Desativa animacoes caso a pessoa tenha algo que remova*/
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ----------------------------------------------*/
/*               Classes de Utilidade            */
/* ----------------------------------------------*/

.flex{
    display: flex;
    gap: var(--gap, 2rem);   
}

.grid{
    display:grid;
    gap: var(--gap, 3rem);
}

.container{
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.sr-only { /* Screen-Reader Only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

/* cores */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-light { background-color: hsl( var(--clr-light) );}
.bg-azulclaro { background-color: hsl( var(--clr-azulclaro) );}
.bg-azulescuro { background-color: hsl( var(--clr-azulescuro) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-light { color: hsl( var(--clr-light) );}
.text-azulclaro { color: hsl( var(--clr-azulclaro) );}
.text-azulescuro { color: hsl( var(--clr-azulescuro) );}

.primary-header h1{
    font-size: 40px;
    font-family: Quadranta;
    font-weight: lighter;
    margin: 0 0 0 -65px;
}

.primary-navigation a:visited{
    font:black;
}

.primary-navigation a:hover{
    color:red;
    transition: 0.3 s;
}

@media (max-width: 800px){
    .primary-navigation{
        position:fixed;
        z-index: 1000;
        inset: 0 0 0 45%;

        flex-direction:column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(20%);
        transition: transform 350ms ease-in;
    }
}

a:visited { text-decoration: none;}

/* ----------------------------------------------*/
/*             Formatacao em celular             */
/* ----------------------------------------------*/
@media only screen and (min-width : 430.50px) {

    .logo {
        margin: 20px 0px 10px 2rem;
        width:115px;
    }
    
    .primary-header{
        align-items: center;
    }
    
    .mobile-nav-toggle{
        display:none;
    }
    
    .primary-navigation{
        margin:0 0 0 0;
        font-family: romono;
        list-style: none;
        font-size:25px;
    }
    
    .mobile-nav-toggle{
        display: block;
        position:absolute;
        cursor:pointer;
        z-index: 9999;
        background:url(img/hamburger.png);
        background-repeat: no-repeat;
        width:2rem;
        border:0;
        aspect-ratio:1;
        top:2rem;
        right:2rem;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(100%);
    }

}

/* ----------------------------------------------*/
/*               Formatacao em Tablet            */
/* ----------------------------------------------*/
@media only screen and (min-width : 768px) {

    .logo {
        margin: 20px 0px 10px 2rem;
    }
    
    .primary-header{
        align-items: center;
    }
    
    .mobile-nav-toggle{
        display:none;
    }
    
    .primary-navigation{
        margin:0 0 0 0;
        font-family: Romono;
        list-style: none;
        font-size:23px;
        font:black;
    }
    
    .mobile-nav-toggle{
        display:block;
        position:absolute fixed;
        cursor:pointer;
        z-index: 9999;
        background:url(img/hamburger.png);
        background-repeat: no-repeat;
        width:2rem;
        border:0;
        aspect-ratio:1;
        top:2rem;
        right:2rem;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(100%);
    }
}

/* ----------------------------------------------*/
/*         Formatacao em Desktop comum           */
/* ----------------------------------------------*/
@media only screen and (min-width : 800px) {

    .logo {
        margin: 20px 0px 10px 2rem;
    }
    
    .primary-header{
        align-items: center;
    }
    
    .mobile-nav-toggle{
        display:none;
    }
    
    .primary-navigation{
        margin:6px;
        list-style: none;
        font-size:22px;
        font:black;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(10%);
    }

   .mobile-nav-toggle{
      display:none;
   }
}

/* ----------------------------------------------*/
/*        Formatacao em Desktop Widescreen       */
/* ----------------------------------------------*/
@media only screen and (min-width : 1200px) {

    .logo {
        margin: 20px 0px 10px 2rem;
    }
    
    .primary-header{
        align-items: center;
    }
    
    .mobile-nav-toggle{
        display:none;
    }
    
    .primary-navigation{
        list-style: none;
        font-size:22px;
        font:black;
    }
    
}

body{
    overflow-x:hidden;
}
